# Node modules
/node_modules/

# Dependências do frontend, caso o projeto seja monolítico
/frontend/node_modules/

# Arquivos de log
*.log
logs/*


# Arquivos de ambiente
.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/dist/
build/

# Arquivos do editor
.vscode/
.idea/

# Arquivos de dependências de testes
coverage/

# Arquivos temporários
*.swp
*.swo
